<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>


    <!-- animation aos link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/style.css">



</head>

<body>


    {{>nav}}



    <div class="papajani">
        <div class="boxA" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <h1 class="working">Working as a <span class="mern">MERN</span> Stack Developer</h1>
            <p class="X-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis vero optio natus similique, suscipit
                quas
                totam deserunt, sit dicta eius nostrum animi impedit expedita asperiores? Quidem architecto perspiciatis
                asperiores ab?</p>
        </div>

        <div class="large" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <img src="illustration/2.png" alt="">
        </div>



        
    </div>


    {{>footer}}



    {{>scriptlink}}


</body>

</html>