<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Fasthand&family=Joan&family=Kdam+Thmor+Pro&family=Mina&family=Montserrat:wght@300&family=Nuosu+SIL&family=Odibee+Sans&display=swap" rel="stylesheet">


    <!-- ..................aos animation links..................... -->

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />



    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="papa">
        <main>
            <nav>
                <div class="Container"  data-aos="fade-up"
                data-aos-anchor-placement="center-center">
                    <div class="logo">
                        <a href="index"><img class="logo-img" src="illustration/fav icon.png" alt="logo" ></a>
                    </div>

                    <div class="menu">
                        <ul>
                            <li class="list-item"><a href="index">Home</a></li>
                            <li class="list-item"><a href="about">About</a></li>
                            <li class="list-item"><a href="weather">Weather</a></li>
                        </ul>
                    </div>

                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </nav>


            <!-- ...................main........................-->


            <div class="main-Container">
                <div class="text" data-aos="fade-right"
                 data-aos-offset="300"
                data-aos-easing="ease-in-sine">
                    <h2 class="progress">Choice is Yours</h2>
                    <p class="paragraph X-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aut quos, cupiditate qui ex ducimus, iste voluptas rem, obcaecati ipsa praesentium. Tenetur, qui!</p>
                </div>
                <div class="main-image" data-aos="fade-left"
                data-aos-anchor="#example-anchor"
                data-aos-offset="500"
                data-aos-duration="500">
                    <img class="png1" src="illustration/1.png">
                </div>
            </div>
        </main>
        <!-- ..................footer................... -->
        <div class="footer">
            <p class="copyright">Copyright @ Adil younas</p>
        </div>
    </div>





    <script src="https://kit.fontawesome.com/284c5f9f7c.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


</body>

</html>