 <nav>
                <div class="Container"  data-aos="fade-up"
                data-aos-anchor-placement="center-center">
                    <div class="logo">
                       <a href="index"> <img class="logo-img" src="illustration/fav icon.png" alt=""></a>
                    </div>

                    <div class="menu">
                        <ul>
                            <li class="list-item"><a href="index">Home</a></li>
                            <li class="list-item"><a href="about">About</a></li>
                            <li class="list-item"><a href="weather">Weather</a></li>
                        </ul>
                    </div>

                    <div class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </nav>